<div class="container">
  <h1 class="mb-4">The food that you've saved.</h1>

  <div class="mb-4">
    <%= link_to "Search more food", new_food_path, class: "nf-button border-0" %>
  </div>

<%= render "claims/claim_card", claim: @claims %>
</div>