<div class="nf-location-bar">
  <button class="nf-location-btn" type="button">
    <span class="nf-dot"></span> Use my location
  </button>
  <%= link_to "Change", "#", class: "nf-change-link" %>
</div>
