<div class="container">
  <h1>Edit food item</h1>
  <div class="mt-4">
    <%= render 'form', food: @food %>
  </div>

  <div class="mt-3">
    <%= link_to "Back to your listings", user_foods_path(current_user), class: "nf-chip" %>
  </div>
</div>
